@font-face {
  font-family: font-icons;
  src: url(fonts/font-icons.bcb27e8d4f0fd4646a7f.woff) format("woff")
}

.g-icon:before {
  font-family: font-icons !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal !important;
  font-variant: normal !important;
  font-weight: 400 !important;
  text-decoration: none;
  text-transform: none;
  line-height: 1;
  display: block
}

.g-icon_projects:before {
  content: "\F206"
}

.g-icon_words:before {
  content: "\F235"
}

@font-face {
  font-family: Inter;
  src: url(fonts/Inter-Regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 400
}

@font-face {
  font-family: Inter;
  src: url(fonts/Inter-SemiBold.woff2) format("woff2");
  font-style: normal;
  font-weight: 600
}

.g-icon {
  line-height: 1;
  display: inline-block;
  vertical-align: text-bottom
}

.g-icon_size_16px {
  font-size: 16px;
  line-height: 1;
  height: 16px;
  position: relative
}

.g-icon_grey-400 {
  color: #bdbdbd
}

.g-text_size_m {
  font-size: 15px
}

.g-text_weight_semibold {
  font-weight: 600
}

.g-avatar {
  position: relative;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  line-height: 34px;
  background-color: #e7eaeb;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat
}

.g-avatar_size_xxl {
  height: 90px;
  width: 90px;
  line-height: 90px;
  font-size: 38px
}

body {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
  color: #212121;
  text-align: left;
  background-color: #eee;
  font: 13px/1.2 Inter, Helvetica, Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.l-profile-freel__avatar {
  float: left;
  position: relative;
  z-index: 1;
  margin: 5px
}

.l-profile-freel__data {
  padding-left: 120px;
  position: relative
}

.l-profile-freel__name {
  color: #424242;
  font-weight: 600;
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 10px;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.l-profile-freel__info-item {
  color: #000;
  font-weight: 400;
  margin-bottom: 8px
}
