@-webkit-keyframes autofill {
  to {
    background: rgba(255, 167, 0, .26);
    color: rgba(0, 0, 0, .74)
  }
}

:root {
  --text-color: #413a53
}

:root {
  --icon-color: #8160d1
}

@-webkit-keyframes sc-loader {
  0% {
    transform: rotate(0)
  }

  to {
    transform: rotate(1turn)
  }
}

@keyframes sc-loader {
  0% {
    transform: rotate(0)
  }

  to {
    transform: rotate(1turn)
  }
}

@-webkit-keyframes progress-animation {
  0% {
    background-position: 100%
  }

  to {
    background-position: 0
  }
}

@keyframes progress-animation {
  0% {
    background-position: 100%
  }

  to {
    background-position: 0
  }
}

@font-face {
  font-family: font-icons;
  src: url(fonts/font-icons.bcb27e8d4f0fd4646a7f.woff) format("woff")
}

.g-icon:before {
  font-family: font-icons !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal !important;
  font-variant: normal !important;
  font-weight: 400 !important;
  text-decoration: none;
  text-transform: none;
  line-height: 1;
  display: block
}

.g-icon_accounts:before {
  content: "\F101"
}

.g-icon_doctype_html:before {
  content: "\F1A1"
}

.g-icon_link:before {
  content: "\F1D7"
}

.g-icon_projects:before {
  content: "\F206"
}

.g-icon_words:before {
  content: "\F235"
}

@media not all and (min-resolution:0.001dpcm) {
  @supports (-webkit-appearance:none) {
    .g-masonry__drpdwn-list {
      width: 100%
    }

    .g-masonry__drpdwn,
    .g-masonry__wrap-drpdwn {
      position: relative
    }
  }
}

_::-webkit-full-page-media,
_:future {
  width: 100%
}

_::-webkit-full-page-media,
_:future {
  position: relative
}

@font-face {
  font-family: Inter;
  src: url(fonts/Inter-Regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 400
}

@font-face {
  font-family: Inter;
  src: url(fonts/Inter-SemiBold.woff2) format("woff2");
  font-style: normal;
  font-weight: 600
}

.g-icon {
  line-height: 1;
  display: inline-block;
  vertical-align: middle
}

.g-icon_size_4px {
  font-size: 4px;
  line-height: 1;
  height: 4px;
  position: relative
}

.g-icon_size_6px {
  font-size: 6px;
  line-height: 1;
  height: 6px;
  position: relative
}

.g-icon_size_7px {
  font-size: 7px;
  line-height: 1;
  height: 7px;
  position: relative
}

.g-icon_size_8px {
  font-size: 8px;
  line-height: 1;
  height: 8px;
  position: relative
}

.g-icon_size_10px {
  font-size: 10px;
  line-height: 1;
  height: 10px;
  position: relative
}

.g-icon_size_12px {
  font-size: 12px;
  line-height: 1;
  height: 12px;
  position: relative
}

.g-icon_size_14px {
  font-size: 14px;
  line-height: 1;
  height: 14px;
  position: relative
}

.g-icon_size_16px {
  font-size: 16px;
  line-height: 1;
  height: 16px;
  position: relative
}

.g-icon_size_18px {
  font-size: 18px;
  line-height: 1;
  height: 18px;
  position: relative
}

.g-icon_size_20px {
  font-size: 20px;
  line-height: 1;
  height: 20px;
  position: relative
}

.g-icon_size_22px {
  font-size: 22px;
  line-height: 1;
  height: 22px;
  position: relative
}

.g-icon_size_24px {
  font-size: 24px;
  line-height: 1;
  height: 24px;
  position: relative
}

.g-icon_size_26px {
  font-size: 26px;
  line-height: 1;
  height: 26px;
  position: relative
}

.g-icon_size_28px {
  font-size: 28px;
  line-height: 1;
  height: 28px;
  position: relative
}

.g-icon_size_32px {
  font-size: 32px;
  line-height: 1;
  height: 32px;
  position: relative
}

.g-icon_size_40px {
  font-size: 40px;
  line-height: 1;
  height: 40px;
  position: relative
}

.g-icon_size_m {
  font-size: 16px;
  line-height: 1;
  height: 16px;
  position: relative
}

.g-icon_size_l {
  font-size: 18px;
  line-height: 1;
  height: 18px;
  position: relative
}

.g-icon_size_xxl {
  font-size: 22px;
  line-height: 1;
  height: 22px;
  position: relative
}

.g-icon_grey-300 {
  color: #e0e0e0
}

.g-icon_grey-400 {
  color: #bdbdbd
}

.g-icon_grey-500 {
  color: #9e9e9e
}

.g-icon_grey-600 {
  color: #757575
}

.g-icon_grey-700 {
  color: #616161
}

.g-icon_grey-800 {
  color: #424242
}

.g-icon_grey-900 {
  color: #212121
}

.g-text_size_m {
  font-size: 15px
}

.g-text_size_l {
  font-size: 20px
}

.g-text_size_xxl {
  font-size: 32px
}

.g-text_grey-400 {
  color: #bdbdbd
}

.g-text_grey-500 {
  color: #9e9e9e
}

.g-text_grey-600 {
  color: #757575
}

.g-text_grey-700 {
  color: #616161
}

.g-text_grey-800 {
  color: #424242
}

.g-text_grey-900 {
  color: #212121
}

.g-text_grey-1000 {
  color: #000
}

.g-text_weight_semibold {
  font-weight: 600
}

.g-link {
  color: #8160d1;
  outline: 0;
  text-decoration: none;
  font-size: inherit;
  font-weight: 400;
  line-height: inherit;
  cursor: pointer;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.g-link:visited {
  color: #8160d1
}

.g-link:hover {
  color: #9875d7
}

.g-link:active {
  color: #6e4ac3
}

.g-link_size_m {
  font-size: 15px
}

.g-link_grey-800 {
  color: #424242
}

[data-title] {
  position: relative;
  overflow: visible
}

[data-title]:after {
  content: attr(data-title);
  background-color: rgba(97, 97, 97, .9);
  color: hsla(0, 0%, 100%, .9);
  font-size: 11px;
  text-align: left;
  padding: 8px;
  position: absolute;
  margin-top: 8px;
  left: 50%;
  top: 100%;
  line-height: 1.2;
  font-weight: 400;
  z-index: 17;
  display: none;
  max-width: 50vw;
  text-transform: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  -webkit-transform: translate(calc(-50% - .5px));
  transform: translate(calc(-50% - .5px))
}

[data-title]:hover:after {
  display: block
}

@-webkit-keyframes border-expand {
  0% {
    opacity: 0;
    width: 0
  }

  to {
    opacity: 1;
    width: 100%
  }
}

@keyframes border-expand {
  0% {
    opacity: 0;
    width: 0
  }

  to {
    opacity: 1;
    width: 100%
  }
}

[data-bind*=destress]:not(.destressed) {
  display: none !important
}

@-moz-document url-prefix() {
  .g-masonry__item {
    display: inline-block;
    width: 100%
  }
}

@supports (-ms-ime-align:auto) {
  .g-masonry__item {
    display: inline-block;
    width: 100%
  }
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3)
  }

  50% {
    opacity: 1
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3)
  }

  50% {
    opacity: 1
  }
}

@-webkit-keyframes zoomOut {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3)
  }

  to {
    opacity: 0
  }
}

@keyframes zoomOut {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3)
  }

  to {
    opacity: 0
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    display: block
  }

  to {
    opacity: 0;
    display: none
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block
  }

  to {
    opacity: 0;
    display: none
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    display: none
  }

  to {
    opacity: 1;
    display: block
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none
  }

  to {
    opacity: 1;
    display: block
  }
}

@-webkit-keyframes rotateDown {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  to {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
  }
}

@keyframes rotateDown {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  to {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
  }
}

@-webkit-keyframes rotateUp {
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
  }

  to {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
}

@keyframes rotateUp {
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
  }

  to {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
}

.g-avatar {
  position: relative;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  line-height: 34px;
  background-color: #e7eaeb;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat
}

.g-avatar_inline {
  display: inline-block;
  vertical-align: middle
}

.g-avatar_bg_1 {
  background-color: #9fa8da
}

.g-avatar_bg_2 {
  background-color: #ce93d8
}

.g-avatar_bg_3 {
  background-color: #9875d7
}

.g-avatar_bg_4,
.g-avatar_bg_5 {
  background-color: #ecb8a5
}

.g-avatar_bg_6 {
  background-color: #2d6476
}

.g-avatar_bg_7 {
  background-color: #cdc5e0
}

.g-avatar_size_m {
  height: 48px;
  width: 48px;
  line-height: 48px;
  font-size: 20px
}

.g-avatar_size_l {
  height: 56px;
  width: 56px;
  line-height: 56px;
  font-size: 20px
}

.g-avatar_size_xxl {
  height: 90px;
  width: 90px;
  line-height: 90px;
  font-size: 38px
}

@-webkit-keyframes showSublist {
  0% {
    max-height: 0
  }

  to {
    max-height: 1000px
  }
}

@keyframes showSublist {
  0% {
    max-height: 0
  }

  to {
    max-height: 1000px
  }
}

.g-title {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 8px;
  color: #424242
}

.g-title_size_m {
  font-size: 18px
}

.g-title_size_l {
  font-size: 20px
}

.g-title_size_xxl {
  font-size: 32px
}

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
html,
span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: 0 0;
  font-size: 100%
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0
}

html {
  overflow-x: hidden;
  margin-right: calc(100% - 100vw);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%
}

@media screen and (max-width:1366px) {
  html {
    font-size: 53.57142857%
  }
}

@media screen and (max-width:1168px) {
  html {
    overflow-x: auto
  }
}

@media screen and (max-width:1440px) {
  html {
    margin-right: auto
  }
}

body {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
  color: #212121;
  text-align: left;
  background-color: #eee;
  font: 13px/1.2 Inter, Helvetica, Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

a {
  text-decoration: none
}

a,
a:visited {
  color: #8160d1
}

a:hover {
  color: #9875d7
}

a:active {
  color: #6e4ac3
}

a:focus {
  outline: 0
}

.g-body {
  padding-bottom: 24px;
  padding-top: 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.g-main {
  position: relative;
  margin: -32px 0 -24px 0;
  padding: 32px 24px 68px 24px;
  font-size: 13px;
  font-weight: 400;
  margin-right: 288px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

@media (min-width:1280px) {
  .g-main {
    margin-right: 22.5vw
  }
}

@media (min-width:1440px) {
  .g-main {
    margin-right: 320px
  }
}

.g-main__content {
  max-width: 1120px;
  margin: 0 auto;
  width: 100%
}

@-webkit-keyframes three-dots {
  to {
    width: 1em
  }
}

@-webkit-keyframes headerHeightDown {
  0% {
    padding-bottom: 12px
  }

  30% {
    padding-bottom: 12px
  }

  to {
    padding-bottom: 62px
  }
}

@keyframes headerHeightDown {
  0% {
    padding-bottom: 12px
  }

  30% {
    padding-bottom: 12px
  }

  to {
    padding-bottom: 62px
  }
}

@-webkit-keyframes headerHeightUp {
  0% {
    padding-bottom: 62px
  }

  30% {
    padding-bottom: 62px
  }

  to {
    padding-bottom: 12px
  }
}

@keyframes headerHeightUp {
  0% {
    padding-bottom: 62px
  }

  30% {
    padding-bottom: 62px
  }

  to {
    padding-bottom: 12px
  }
}

@-webkit-keyframes menuboxNameDownSize {
  0% {
    color: hsla(0, 0%, 100%, .54);
    font-size: 15px;
    margin-left: 4px;
    width: 146px;
    -webkit-transform: rotate(0) translateY(0) rotate(0);
    transform: rotate(0) translateY(0) rotate(0)
  }

  30% {
    color: #fff;
    font-size: 15px;
    margin-left: 4px;
    width: 146px;
    -webkit-transform: rotate(0) translateY(0) rotate(0);
    transform: rotate(0) translateY(0) rotate(0)
  }

  to {
    color: #fff;
    font-size: 24px;
    margin-left: 0;
    width: 204px;
    -webkit-transform: rotate(45deg) translateY(110px) rotate(-45deg);
    transform: rotate(45deg) translateY(110px) rotate(-45deg)
  }
}

@keyframes menuboxNameDownSize {
  0% {
    color: hsla(0, 0%, 100%, .54);
    font-size: 15px;
    margin-left: 4px;
    width: 146px;
    -webkit-transform: rotate(0) translateY(0) rotate(0);
    transform: rotate(0) translateY(0) rotate(0)
  }

  30% {
    color: #fff;
    font-size: 15px;
    margin-left: 4px;
    width: 146px;
    -webkit-transform: rotate(0) translateY(0) rotate(0);
    transform: rotate(0) translateY(0) rotate(0)
  }

  to {
    color: #fff;
    font-size: 24px;
    margin-left: 0;
    width: 204px;
    -webkit-transform: rotate(45deg) translateY(110px) rotate(-45deg);
    transform: rotate(45deg) translateY(110px) rotate(-45deg)
  }
}

@-webkit-keyframes menuboxNameUpSize {
  0% {
    color: #fff;
    font-size: 24px;
    margin-left: 0;
    width: 204px;
    -webkit-transform: rotate(45deg) translateY(110px) rotate(-45deg);
    transform: rotate(45deg) translateY(110px) rotate(-45deg)
  }

  30% {
    color: #fff;
    font-size: 24px;
    margin-left: 0;
    width: 204px;
    -webkit-transform: rotate(45deg) translateY(110px) rotate(-45deg);
    transform: rotate(45deg) translateY(110px) rotate(-45deg)
  }

  to {
    color: hsla(0, 0%, 100%, .54);
    font-size: 15px;
    margin-left: 4px;
    width: 146px;
    -webkit-transform: rotate(0) translateY(0) rotate(0);
    transform: rotate(0) translateY(0) rotate(0)
  }
}

@keyframes menuboxNameUpSize {
  0% {
    color: #fff;
    font-size: 24px;
    margin-left: 0;
    width: 204px;
    -webkit-transform: rotate(45deg) translateY(110px) rotate(-45deg);
    transform: rotate(45deg) translateY(110px) rotate(-45deg)
  }

  30% {
    color: #fff;
    font-size: 24px;
    margin-left: 0;
    width: 204px;
    -webkit-transform: rotate(45deg) translateY(110px) rotate(-45deg);
    transform: rotate(45deg) translateY(110px) rotate(-45deg)
  }

  to {
    color: hsla(0, 0%, 100%, .54);
    font-size: 15px;
    margin-left: 4px;
    width: 146px;
    -webkit-transform: rotate(0) translateY(0) rotate(0);
    transform: rotate(0) translateY(0) rotate(0)
  }
}

@-webkit-keyframes menuboxAvatarUpSize {
  0% {
    height: 32px;
    width: 32px;
    line-height: 34px;
    font-size: 15px
  }

  30% {
    height: 32px;
    width: 32px;
    line-height: 34px;
    font-size: 15px
  }

  to {
    height: 80px;
    width: 80px;
    line-height: 80px;
    font-size: 38px
  }
}

@keyframes menuboxAvatarUpSize {
  0% {
    height: 32px;
    width: 32px;
    line-height: 34px;
    font-size: 15px
  }

  30% {
    height: 32px;
    width: 32px;
    line-height: 34px;
    font-size: 15px
  }

  to {
    height: 80px;
    width: 80px;
    line-height: 80px;
    font-size: 38px
  }
}

@-webkit-keyframes menuboxAvatarDownSize {
  0% {
    height: 80px;
    width: 80px;
    line-height: 80px;
    font-size: 38px
  }

  30% {
    height: 80px;
    width: 80px;
    line-height: 80px;
    font-size: 38px
  }

  to {
    height: 32px;
    width: 32px;
    line-height: 34px;
    font-size: 15px
  }
}

@keyframes menuboxAvatarDownSize {
  0% {
    height: 80px;
    width: 80px;
    line-height: 80px;
    font-size: 38px
  }

  30% {
    height: 80px;
    width: 80px;
    line-height: 80px;
    font-size: 38px
  }

  to {
    height: 32px;
    width: 32px;
    line-height: 34px;
    font-size: 15px
  }
}

@-webkit-keyframes rotateHideBtnUp {
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
  }

  30% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
  }

  to {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
}

@keyframes rotateHideBtnUp {
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
  }

  30% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
  }

  to {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
}

@-webkit-keyframes rotateHideBtnDown {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  30% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  to {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
  }
}

@keyframes rotateHideBtnDown {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  30% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  to {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
  }
}

@-webkit-keyframes fadeInCouter {
  0% {
    opacity: 0;
    display: none
  }

  85% {
    opacity: 0
  }

  to {
    opacity: 1;
    display: block
  }
}

@keyframes fadeInCouter {
  0% {
    opacity: 0;
    display: none
  }

  85% {
    opacity: 0
  }

  to {
    opacity: 1;
    display: block
  }
}

@-webkit-keyframes showPersonalBackground {
  0% {
    height: calc(100vh - 129px)
  }

  15% {
    height: calc(100vh - 129px)
  }

  85% {
    height: 96px
  }

  to {
    height: 96px
  }
}

@keyframes showPersonalBackground {
  0% {
    height: calc(100vh - 129px)
  }

  15% {
    height: calc(100vh - 129px)
  }

  85% {
    height: 96px
  }

  to {
    height: 96px
  }
}

@-webkit-keyframes showCompanyBackground {
  0% {
    height: 96px
  }

  15% {
    height: 96px
  }

  85% {
    height: calc(100vh - 129px)
  }

  to {
    height: calc(100vh - 129px)
  }
}

@keyframes showCompanyBackground {
  0% {
    height: 96px
  }

  15% {
    height: 96px
  }

  85% {
    height: calc(100vh - 129px)
  }

  to {
    height: calc(100vh - 129px)
  }
}

@-webkit-keyframes companyBoxSizeDown {
  0% {
    font-size: 24px;
    color: #fff
  }

  15% {
    font-size: 24px;
    color: #fff
  }

  85% {
    font-size: 15px;
    color: hsla(0, 0%, 100%, .54)
  }

  to {
    font-size: 15px;
    color: hsla(0, 0%, 100%, .54)
  }
}

@keyframes companyBoxSizeDown {
  0% {
    font-size: 24px;
    color: #fff
  }

  15% {
    font-size: 24px;
    color: #fff
  }

  85% {
    font-size: 15px;
    color: hsla(0, 0%, 100%, .54)
  }

  to {
    font-size: 15px;
    color: hsla(0, 0%, 100%, .54)
  }
}

@-webkit-keyframes companyBoxSizeUp {
  0% {
    font-size: 15px;
    color: hsla(0, 0%, 100%, .54);
    border-color: hsla(0, 0%, 100%, 0)
  }

  15% {
    font-size: 15px;
    color: hsla(0, 0%, 100%, .54);
    border-color: hsla(0, 0%, 100%, .12)
  }

  85% {
    font-size: 24px;
    color: #fff;
    border-color: hsla(0, 0%, 100%, .12)
  }

  to {
    font-size: 24px;
    color: #fff;
    border-color: hsla(0, 0%, 100%, .12)
  }
}

@keyframes companyBoxSizeUp {
  0% {
    font-size: 15px;
    color: hsla(0, 0%, 100%, .54);
    border-color: hsla(0, 0%, 100%, 0)
  }

  15% {
    font-size: 15px;
    color: hsla(0, 0%, 100%, .54);
    border-color: hsla(0, 0%, 100%, .12)
  }

  85% {
    font-size: 24px;
    color: #fff;
    border-color: hsla(0, 0%, 100%, .12)
  }

  to {
    font-size: 24px;
    color: #fff;
    border-color: hsla(0, 0%, 100%, .12)
  }
}

@-webkit-keyframes corpLogoSizeDown {
  0% {
    width: 195px;
    height: 40px
  }

  15% {
    width: 195px;
    height: 40px
  }

  85% {
    width: 122px;
    height: 25px
  }

  to {
    width: 122px;
    height: 25px
  }
}

@keyframes corpLogoSizeDown {
  0% {
    width: 195px;
    height: 40px
  }

  15% {
    width: 195px;
    height: 40px
  }

  85% {
    width: 122px;
    height: 25px
  }

  to {
    width: 122px;
    height: 25px
  }
}

@-webkit-keyframes corpLogoSizeUp {
  0% {
    width: 122px;
    height: 25px
  }

  15% {
    width: 122px;
    height: 25px
  }

  85% {
    width: 195px;
    height: 40px
  }

  to {
    width: 195px;
    height: 40px
  }
}

@keyframes corpLogoSizeUp {
  0% {
    width: 122px;
    height: 25px
  }

  15% {
    width: 122px;
    height: 25px
  }

  85% {
    width: 195px;
    height: 40px
  }

  to {
    width: 195px;
    height: 40px
  }
}

@-webkit-keyframes hideIcon {
  0% {
    opacity: 1
  }

  15% {
    opacity: 0
  }

  to {
    opacity: 0
  }
}

@keyframes hideIcon {
  0% {
    opacity: 1
  }

  15% {
    opacity: 0
  }

  to {
    opacity: 0
  }
}

@-webkit-keyframes showIcon {
  0% {
    opacity: 0
  }

  85% {
    opacity: 1
  }

  to {
    opacity: 1
  }
}

@keyframes showIcon {
  0% {
    opacity: 0
  }

  85% {
    opacity: 1
  }

  to {
    opacity: 1
  }
}

@-webkit-keyframes showPersonalMenu {
  0% {
    opacity: 1
  }

  15% {
    opacity: 0
  }

  85% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes showPersonalMenu {
  0% {
    opacity: 1
  }

  15% {
    opacity: 0
  }

  85% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@-webkit-keyframes showCompanyMenu {
  0% {
    opacity: 1;
    position: static;
    top: auto;
    z-index: auto;
    width: auto;
    height: auto;
    border-color: hsla(0, 0%, 100%, 0)
  }

  15% {
    opacity: 0;
    position: static;
    top: auto;
    z-index: auto;
    width: auto;
    height: auto;
    border-color: hsla(0, 0%, 100%, 0)
  }

  84.9% {
    position: static;
    top: auto;
    z-index: auto;
    width: auto;
    height: auto;
    border-color: hsla(0, 0%, 100%, 0)
  }

  85% {
    opacity: 0;
    top: 96px;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: auto;
    border-color: hsla(0, 0%, 100%, .12)
  }

  to {
    opacity: 1;
    top: 96px;
    position: absolute;
    z-index: 1;
    width: 100%;
    border-color: hsla(0, 0%, 100%, .12);
    height: calc(100vh - 225px)
  }
}

@keyframes showCompanyMenu {
  0% {
    opacity: 1;
    position: static;
    top: auto;
    z-index: auto;
    width: auto;
    height: auto;
    border-color: hsla(0, 0%, 100%, 0)
  }

  15% {
    opacity: 0;
    position: static;
    top: auto;
    z-index: auto;
    width: auto;
    height: auto;
    border-color: hsla(0, 0%, 100%, 0)
  }

  84.9% {
    position: static;
    top: auto;
    z-index: auto;
    width: auto;
    height: auto;
    border-color: hsla(0, 0%, 100%, 0)
  }

  85% {
    opacity: 0;
    top: 96px;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: auto;
    border-color: hsla(0, 0%, 100%, .12)
  }

  to {
    opacity: 1;
    top: 96px;
    position: absolute;
    z-index: 1;
    width: 100%;
    border-color: hsla(0, 0%, 100%, .12);
    height: calc(100vh - 225px)
  }
}

@-webkit-keyframes progressbar-stripes {
  0% {
    background-position: 0 0
  }

  to {
    background-position: 40px 0
  }
}

@keyframes progressbar-stripes {
  0% {
    background-position: 0 0
  }

  to {
    background-position: 40px 0
  }
}

@-webkit-keyframes pulse-btn {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }

  16.6% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05)
  }

  33.2% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }

  49.8% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05)
  }

  66.4% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }
}

@keyframes pulse-btn {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }

  16.6% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05)
  }

  33.2% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }

  49.8% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05)
  }

  66.4% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }

  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }
}

@-webkit-keyframes sonarEffect {
  0% {
    opacity: .2
  }

  30% {
    opacity: .8;
    -webkit-box-shadow: 0 0 1px 0 #8160d1;
    box-shadow: 0 0 1px 0 #8160d1
  }

  to {
    -webkit-box-shadow: 0 0 1px 0 #8160d1;
    box-shadow: 0 0 1px 0 #8160d1;
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 0
  }
}

.a-user_name {
  color: #424242;
  font-size: 18px;
  font-weight: 600
}

.a-user__title {
  color: #424242;
  font-size: 13px;
  margin: 0 0 4px 16px;
  font-weight: 600
}

@-webkit-keyframes new-message-notification {
  0% {
    opacity: 1
  }

  80% {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

@keyframes new-message-notification {
  0% {
    opacity: 1
  }

  80% {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

.l-profile-freel {
  color: #424242
}

.l-profile-freel__avatar {
  float: left;
  position: relative;
  z-index: 1
}

.l-profile-freel__data {
  margin: 0 0 16px 0;
  padding-left: 120px;
  min-height: 116px;
  position: relative
}

.l-profile-freel__name {
  color: #424242;
  font-weight: 600;
  font-size: 24px;
  display: inline-block;
  margin-bottom: 8px;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.l-profile-freel__info-item {
  color: #000;
  font-weight: 400;
  margin-bottom: 8px
}

.l-profile-freel__info-item .g-icon {
  margin-right: 4px;
  margin-top: -4px
}

.l-profile-freel__item {
  display: inline-block;
  color: #757575;
  font-size: 11px;
  line-height: 1
}

.l-profile-freel__item:last-child {
  margin-left: 20px
}

.l-profile-freel__item-title {
  font-weight: 400;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

.l-profile-freel__info-name {
  font-weight: 600;
  display: inline-block;
  padding-right: 48px;
  max-width: 100%;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.l-profile-freel__info-name_profile {
  padding-right: 112px
}

.l-profile-freel__data-item {
  float: left;
  color: #757575;
  margin-right: 4px
}

.l-profile-freel__data-item:before {
  content: "\2022";
  margin-right: 4px
}

.l-profile-freel__data-item:first-child:before {
  display: none
}

.l-profile-freel__words-title {
  min-width: 72px
}

.l-profile-freel__words-item {
  color: #424242;
  font-weight: 600
}

.l-profile-freel__icon-link {
  margin-right: 8px;
  color: #8160d1
}

.l-profile-freel__link {
  overflow-wrap: break-word;
  word-break: break-all;
  text-align: left;
  cursor: default;
  font-size: 11px;
  line-height: 1.2;
  white-space: normal
}

.l-profile-freel__link:hover {
  color: #8160d1
}

.l-profile-freel__link:active {
  color: #8160d1
}

.l-profile-freel__title {
  font-size: 18px
}

@keyframes three-dots {
  to {
    width: 1em
  }
}

@keyframes sonarEffect {
  0% {
    opacity: .2
  }

  30% {
    opacity: .8;
    -webkit-box-shadow: 0 0 1px 0 #8160d1;
    box-shadow: 0 0 1px 0 #8160d1
  }

  to {
    -webkit-box-shadow: 0 0 1px 0 #8160d1;
    box-shadow: 0 0 1px 0 #8160d1;
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 0
  }
}
