.achievements {
  grid-column: 2/14;
  padding: 6rem;

  a {
    color: $black;
    text-decoration: none;
  }

  &-box__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 4rem;
    color: $black;
    margin-top: 6rem;
  }

  &-box {
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border: solid 1px $black;

    ul {
      list-style: none;
	  // padding-left: 1.5rem;
      padding-left: 1rem;
      // font-size: 1.8rem;
      font-size: 1.6rem;
      li {
        margin-bottom: 0.6rem;
      }
    }

    &:after {
      content: "";
      position: absolute;
      width: 103%;
      height: 101%;
      top: 1rem;
      right: 0;
      z-index: -1;
      outline: 1px solid $black;
    }

    &:nth-child(1) {
      background-image: linear-gradient(135deg, #fce8db 10%, #fbfce3 100%);
    }
    &:nth-child(2) {
      background-image: linear-gradient(135deg, #dff1b3 10%, #f6fde9 100%);
    }
    &:nth-child(3) {
      background-image: linear-gradient(135deg, #d2d7f0 10%, #e1f6f6 100%);
    }
  }
}

.second-heading {
  @media (max-width: $bp-mobile) {
	font-size: 2rem;
    text-align: center;
  }
}

.test-sc-container {
  @import "../sc/sc.css";
}


.g-text_size_m_fix {
  @media (max-width: $bp-mobile) {
    font-size: 13px;
  }
}

.g-avatar_size_xxl_fix {
  @media (max-width: $bp-mobile) {
    height: 70px;
    width: 70px;
    line-height: 70px;
  }
}

.l-profile-freel__data_fix {
  @media (max-width: $bp-mobile) {
    padding-left: 85px;
  }
}

.l-profile-freel__name_fix {
  @media (max-width: $bp-mobile) {
    font-size: 16px;
  }
}
