.achievements {
  grid-column: 2/14;
  padding: 6rem;

  a {
    color: $black;
    text-decoration: none;
  }

  &-box__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 4rem;
    color: $black;
    margin-top: 6rem;
  }

  &-box {
    padding: 2rem;
    // height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border: solid 1px $black;

    ul {
      list-style: none;
	  // padding-left: 1.5rem;
      padding-left: 1rem;
      // font-size: 1.8rem;
      font-size: 1.6rem;
      li {
        margin-bottom: 0.6rem;
      }
    }

    &:after {
      content: "";
      position: absolute;
      width: 103%;
      height: 101%;
      top: 1rem;
      right: 0;
      z-index: -1;
      outline: 1px solid #00000030;
    }

    &:nth-child(1) {
      background-image: linear-gradient(135deg, #fce8db 10%, #fbfce3 100%);
    }
    &:nth-child(2) {
      background-image: linear-gradient(135deg, #dff1b3 10%, #f6fde9 100%);
    }
    &:nth-child(3) {
      background-image: linear-gradient(135deg, #d2d7f0 10%, #e1f6f6 100%);
	  &:after {
	    content: "";
	    position: absolute;
	    width: 100.95%;
	    height: 101%;
	    top: 1rem;
	    right: 0;
	    z-index: -1;
	    outline: 1px solid #00000030;
		@media (max-width: $bp-mobile) {
		  width: 101.4%;
		}
		@media (max-width: 539px) {
		  width: 103%;
		}
	  }
    }
  }
}

.courses {
  grid-column: 2/14;
  padding: 6rem;

  a {
    color: $black;
    text-decoration: none;
  }

  &-box__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 4rem;
    color: $black;
	margin-top: 4rem;
    // margin-top: 6rem;
  }

  &-box {
    padding: 2rem;
    // height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border: solid 1px $black;

    ul {
      list-style: none;
	  // padding-left: 1.5rem;
      padding-left: 1rem;
      // font-size: 1.8rem;
      // font-size: 1.6rem;
	  margin-top: 1rem;
      li {
        // margin-bottom: 0.6rem;
		margin-top: 0.6rem;
      }
	  a {
		text-decoration: underline;
		text-decoration-color: #00000026;
	  }
    }

    &:after {
      content: "";
      position: absolute;
      width: 100.95%;
      height: 101%;
      top: 1rem;
      right: 0;
      z-index: -1;
      outline: 1px solid #00000030;
	  @media (max-width: $bp-mobile) {
        width: 101.4%;
      }
	  @media (max-width: 539px) {
        width: 103%;
      }
    }

    &:nth-child(1) {
      background-image: linear-gradient(135deg, #fcdbf3 10%, #e3e3fc);
    }
  }
}

.text-link {
  text-decoration: underline !important;
  text-decoration-color: #00000050 !important;
}

.text-oops {
  margin-top: 1.3rem;
  font-weight: 400;
  color: #756c6c;
  text-align: right;
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; transform: translateY(-10px)}
  100%  {opacity: 1; transform: translateY(0)}
}

.second-heading {
  @media (max-width: $bp-mobile) {
	font-size: 2rem;
    text-align: center;
  }
}

.smartcat-container {
  @import "../sc/sc.css";
  outline: 1px solid #666;
  background-color: #eee;
}

.smartcat-button {
  padding: 5px;
  filter: brightness(0);
}

@font-face {
  font-family: Inter;
  src: url(../sc/fonts/Inter-Regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src: url(../sc/fonts/Inter-SemiBold.woff2) format("woff2");
  font-style: normal;
  font-weight: 600;
}

.g-icon {
  line-height: 1;
  display: inline-block;
  vertical-align: text-bottom;
  font-size: 16px;
  height: 16px;
  position: relative;
  color: #bdbdbd;
}

.g-text {
  font-size: 15px;
  font-weight: 600;
  
  @media (max-width: 821px) {
    font-size: 13px;
  }
  @media (max-width: 1091px) {
    font-size: 14px;
  }
}

.g-avatar {
  position: relative;
  border-radius: 50%;
  background-color: #e7eaeb;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  text-align: center;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  
  height: 90px;
  width: 90px;
  line-height: 90px;
  font-size: 38px;
  
  @media (max-width: 821px) {
    height: 70px;
    width: 70px;
    line-height: 70px;
  }
  @media (max-width: 1091px) {
    height: 80px;
    width: 80px;
    line-height: 80px;
  }
}

.l-profile-freel__avatar {
  float: left;
  position: relative;
  z-index: 1;
  margin: 5px;
}

.l-profile-freel__data {
  padding-left: 120px;
  position: relative;
  
  @media (max-width: 821px) {
    padding-left: 85px;
  }
  @media (max-width: 1091px) {
    font-size: 110px;
  }
}

.l-profile-freel__name {
  color: #424242;
  font-weight: 600;
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 10px;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
  @media (max-width: 821px) {
    font-size: 16px;
  }
  @media (max-width: 1091px) {
    font-size: 20px;
  }
}

.l-profile-freel__info-item {
  color: #000;
  font-weight: 400;
  margin-bottom: 8px;
}
