.footer {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
  color: $secondary-color;
  
  @media (min-width: $bp-2k) {
    padding-left: 10%;
    padding-right: 10%;
  }
  @media (min-width: $bp-4k) {
    padding-left: 20%;
    padding-right: 20%;
  }
  @media (min-width: $bp-8k) {
    padding-left: 30%;
    padding-right: 30%;
  }
}
